.searchBox{
  border: 2px solid rgb(69, 122, 221);
  padding: 10px;
  border-radius: 10px;
}

.updateArea{
  margin-left: 900px;
}

.show{
  display: block;
}

.myCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2);

}
