.textDisplay{
  border-right: 2px solid rgb(88, 83, 83);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;

}


body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("/../assets/images/home/abc.jpg");
  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn01 {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn01:hover {
  opacity: 1;
}


.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(2, 1, 1, 0.705);
  color: white;
  text-align: center;
}


@keyframes slideAnimation{
  0%{
    background-image: url("/../assets/images/slides/slide01.jpeg");
  }30%{
    background-image: url("/../assets/images/slides/slide02.jpg");
  }60%{
    background-image: url("/../assets/images/slides/slide03.jpg");
  }100%{
    background-image: url("/../assets/images/slides/slide04.jpg");
  }
}

.formClass{
  min-height: 500px;
}

.sign{
  background-color: cornsilk;
}


